.inner-box{
    height: 300px;
    width: 350px;
    background-color: beige;;
}

#light-text{
    font-weight: 100;
    margin-left: 20px;
    padding-top: 25px;
}

#Heading{
    margin-left: 20px;
}
.outer-box{
    
}

.button{
    height: 33px;
    width: 130px;
    background-color: rgb(255, 162, 0);
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center;    /* Centers text vertically */
    text-align: center;     /* Ensures multi-line text is centered */
    margin-left: 20px; 
}

#detail{
    font-size: 11px;
    font-weight: 1000;
    color: white;
    font-style: inherit;
}

#p1{
    margin-left: 20px;

}

#line{
    text-decoration: underline;
}

.box-1{
    height: 255px;
    width: 200px;
    background-color: antiquewhite;
}

.image-2{
    height: 110px;
    width: 170px;
    margin-left: 15px;
    padding-top: 15px;
}

#p2{
    font-size: 11px;
    text-align: center;
    margin-top: 0px;
    line-height: 18px;

}

#topic-1{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    
}

.box-2{
    height: 255px;
    width: 200px;
    background-color: antiquewhite;
}

.image-3{
    height: 110px;
    width: 170px;
    margin-left: 15px;
    padding-top: 15px;
}

#p3{
    font-size: 11px;
    text-align: center;
    margin-top: 0px;
    line-height: 18px;

}

#topic-2{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    
}

.box-3{
    height: 255px;
    width: 200px;
    background-color: antiquewhite;
}

.image-4{
    height: 110px;
    width: 170px;
    margin-left: 15px;
    padding-top: 15px;
}

#p4{
    font-size: 11px;
    text-align: center;
    margin-top: 0px;
    line-height: 18px;

}

#topic-3{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.container-2{
    display: flex;          /* Use flexbox layout */
    align-items: center;   /* Vertically center the items */
    background-color: antiquewhite;
    height: 600px;
    width: 1000px;      /* Optional: limit text width */
}

.image-5{
    width: 525px;          /* Set a width for the image */
    max-height: 700px;          /* Maintain aspect ratio */
    margin-right: 50px;    /* Space between the image and text */
}

.container-1{
    display: flex;          /* Enables flexbox layout */
    justify-content: space-evenly; /* Distributes space between boxes */ 
    -ms-flex-align: center;
}

.box{
    
}

.container{
   
}